@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

.container {
    max-width: 90vw;
    margin: 0 auto;
}

.image-container {
    height: 32.8125em;
    background-image: url(./img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text h2 {
    /* font: normal normal 500 80px/70px Heebo; */
    font: normal normal 900 50px/70px Heebo;
    text-align: center;
}

.image-text p {
    font: normal normal 500 20px/30px Heebo;
    text-align: center;
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media(max-width: 780px) {
    .image-text h2 {
        font: normal normal 900 40px/50px Heebo;
    }

    .image-text>p {
        font: normal bold 500 16px/20px Heebo;
    }
}

@media(max-width: 520px) {
    .image-text>h2 {
        font: normal bold 900 20px/30px Heebo;
    }

    .image-text>p {
        font: normal normal 500 18px/30px Heebo;
        margin-top: 30px;
    }

    .image-text {
        width: 80%;
    }
}

@media (max-size: 600px) {
    .image-container {
        width: 100%;
    }
}

/*  ICONS */
.sectionimages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.sectionimages img {
    width: 100px;
}

@media (max-size: 620px) {
    .sectionimages {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
}

/* @media (max-width: 1300px) {
    .image-container {
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-text h2 {
        margin-top: 50px;
        font-size: 66px;
        font-weight: bold;
    }

    .image-text p {
        margin-bottom: 120px;
        font-size: 18px;
        font-weight: 600;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }
}

@media (max-width: 968px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 66px;
        font-weight: bold;
    }

    .image-text p {
        font-size: 14px;
        font-weight: 600;
    }

    .sectionimages {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768.99px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 36pt;
        font-weight: bold;
    }

    .image-text p {
        width: 500px;
        font-size: 17px;
        top: 15%;
        font-weight: 600;
    }
}

@media screen and (max-width:580px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 36vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 2.7rem;
        top: 55%;
        font-weight: bold;
    }

    .image-text p {
        width: 400px;
        font-size: 1.2rem;
        top: 15%;
        font-weight: 600;
    }
} */