.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3A3A3A;
}

.image-text h2 {
    font-size: 118px;
    font-weight: bold;
}

.image-text p {
    font-size: 30px;
    font-weight: 600;
}

/*  ICONS */
.sectionimages {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}


.divimages {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;
}

.text {
    text-align: center;
}

@media (max-width: 1300px) {
    .image-container {
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-text h2 {
        margin-top: 50px;
        font-size: 66px;
        font-weight: bold;
    }

    .image-text p {
        margin-bottom: 120px;
        font-size: 18px;
        font-weight: 600;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }
}

@media (max-width: 968px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 66px;
        font-weight: bold;
    }

    .image-text p {
        font-size: 14px;
        font-weight: 600;
    }

    .sectionimages {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768.99px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 37vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 36pt;
        font-weight: bold;
    }

    .image-text p {
        width: 500px;
        font-size: 17px;
        top: 15%;
        font-weight: 600;
    }
}

@media screen and (max-width:580px) {
    .image-container {
        position: relative;
        height: 50vh;
        margin-bottom: -150px;
    }

    .image-container img {
        position: relative;
        height: 36vh;
        width: 50vw;
    }

    .image-text h2 {
        font-size: 2.7rem;
        top: 55%;
        font-weight: bold;
    }

    .image-text p {
        width: 400px;
        font-size: 1.2rem;
        top: 15%;
        font-weight: 600;
    }
}