/* footer {
    background-color: #3A3A3A;
    bottom: 0;
    width: 100%;
    direction: rtl;
} */

.Contact-C {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3A3A3A;
}

.Contact-C .contactImg {
    max-width: 770px;
    max-height: 671px;
    width: 40vw
}

.MainForm {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 5vw;
    text-align: center
}

.MainForm h1 {
    color: #ffffff;
    margin: 10px;
    text-align: right;
}

.MainForm p {
    color: #ffffff;
    margin: 10px 0 10px 0;
    text-align: right;
}

.form-type {
    width: 40vw;
    max-width: 600px
}

.MainForm label {
    font: normal normal bold 16px/20px Heebo;
    width: 40vw;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    color: #ffffff;
}

.MainForm input {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    border: none;
    color: #000;
    font-size: 15pt;
    font: normal normal bold 16px/20px Heebo;
    border-bottom: 3px solid #1AE0EC;
    height: 30px;
    border-bottom: 5px solid #1AE0EC;
}

.MainForm input[type=submit] {
    cursor: pointer;
}

.MainForm input:hover {
    border-bottom: 6px solid #9400D3;
}

.MainForm .Message-type textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 5px solid #1AE0EC;
}

.MainForm .Message-type textarea:hover {
    border-bottom: 6px solid #9400D3;
}

.MainForm .send {
    width: 10vw;
    max-width: 166px;
    height: 50px;
    margin: 20px;
    background-color: #1AE0EC;
    color: #000;
    font: normal normal bold 22px/30px Heebo;
    font-size: 22px;
    border-radius: 25px;
}

.MainForm .send:hover {
    color: #ffffff;
    background-color: #9400D3;
}

.mediaicons {
    grid-row: 2/3;
    grid-column: 1/3;
    height: 200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1AE0EC;
}

.mediaicons img {
    width: 35px;
    height: 40px;
    color: #000;
}

.mediaicons div {
    text-align: center;
}

.mediaicons p {
    font: normal normal bold 14px/21px Heebo;
}

.copyRight {
    display: grid;
    margin: 0px;
    color: #1ae0ec;
    background-color: #36383f;
    grid-template-columns: 25% 50% 25%;
}

@media screen and (max-width: 600px) {
    .Contact-C {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .MainForm h1 {
        text-align: center;
    }

    .MainForm p {
        text-align: center;
    }

    .Contact-C img {
        grid-column: 1/2;
        width: 100%;
    }

    .mediaicons img {
        width: 25px;
        height: 30px
    }

    .Contact-C .MainForm {
        grid-column: 1/2;
        grid-row: 2;
        max-width: 300px;
        width: 80vw;
    }

    .MainForm label {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #ffffff;
    }

    .form-type {
        width: 100%;
    }

    .Contact-C .mediaicons {
        grid-row: 3;
        width: 100%
    }
}

@media screen and (max-width: 500px) {

    .mediaicons {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

    }
}