@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

:root {
    --dark-bg-color: #1f242d;
    --Light-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0df9a4;
}

.JSportfolio {
    background: var(--dark-bg-color);
}

.JSportfolio h2 {
    margin-bottom: 4rem;
}

.JSportfolio h3 {
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
}

.JSportfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.JSportfolio-container .JSportfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--dark-bg-color);
    overflow: hidden;
    display: flex;
}

.JSportfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.JSportfolio-box:hover img {
    transform: scale(1.1);
}

.JSportfolio-box .JSportfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.JSportfolio-box:hover .JSportfolio-layer {
    transform: translateY(0);
}

.JSportfolio-layer h4 {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.JSportfolio-layer p {
    font-size: 1.2rem;
    margin: .1rem 0 1rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
}

.JSportfolio-layer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.JSportfolio-layer a i {
    font-size: 2.6rem;
    color: var(--Light-bg-color);
}

@media (max-width: 991px) {
    .JSportfolio {
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px) {
    .JSportfolio h2 {
        margin-bottom: 3rem;
    }

    .JSportfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .JSportfolio-container {
        grid-template-columns: 1fr;
    }
}