.container {
    max-width: 90vw;
    margin: 0 auto;
}

@media(max-width: 700px) {
    .container {
        width: 95vw
    }
}

.image-container {
    height: 32.8125em;
    background-image: url(./img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text h2 {
    /* font: normal normal 500 80px/70px Heebo; */
    font: normal normal 900 40px/60px Heebo;
    text-align: center;
}

.image-text p {
    font: normal normal 500 18px/20px Heebo;
    text-align: center;
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media(max-width: 780px) {
    .image-text h2 {
        font: normal normal 900 40px/50px Heebo;
    }

    .image-text>p {
        font: normal bold 500 16px/20px Heebo;
    }
}

@media(max-width: 520px) {
    .image-text>h2 {
        font: normal bold 900 16/30px Heebo;
    }

    .image-text>p {
        font: normal normal 500 15px/20px Heebo;
        margin-top: 30px;
    }

    .image-text {
        width: 80%;
    }
}

@media (max-size: 600px) {
    .image-container {
        width: 100%;
    }
}



.Btn {
    width: 220px;
    height: 40px;
    background-color: #1AE0EC;
    color: #3A3A3A;
    font: normal normal bold 20px/30px Heebo;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    border: 0;
    font-size: 1.4em;
}

.Btn:hover {
    color: #fff;
    background-color: purple;
}

/*  ICONS */
.sectionimages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.sectionimages img {
    width: 100px;
}

@media (max-size: 620px) {
    .sectionimages {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
}