footer {
    background-color: #3A3A3A;
    bottom: 0;
    width: 100%;
    direction: rtl;
}

footer .container {
    display: flex;
    flex-direction: column;
    background-color: #3A3A3A;
    margin-right: 305px;
}

footer .container #contact {
    width: 100%;
    height: 88vh;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    color: wheat;
    display: flex;
}

footer .container #contact .imgbox {
    width: 70vw;
    position: absolute;
    margin-left: 1381px;
}

footer .container #contact .smbox {
    display: none;
    width: 200px;
    height: 100px;
    margin-right: -50px;
}

footer .container #contact form {
    width: 30vw;
    margin-top: 161px;
    background: #3A3A3A;
}

footer .container #contact form .form-type {
    margin-bottom: 17px;
    text-align: right;
}

footer .container #contact form .form-type input {
    width: 550px;
    height: 50px;
    text-align: right;
    font: normal normal bold 18px/24px Heebo;
    box-shadow: 0 7px #1AE0EC;
}

footer .container #contact form .form-type input:hover {
    width: 550px;
    height: 50px;
    text-align: right;
    font: normal normal bold 18px/24px Heebo;
    box-shadow: 0 16px #f4143c;
    /* f4143c / 251473 */
}

footer .container #contact form .form-type input[id=massage] {
    width: 550px;
    height: 100px;
    background: #ffffff
}

footer .container #contact form .form-type label {
    text-align: right;
    font: normal normal bold 16px/24px Heebo;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

/*footer .container*/
#contact form h1 {
    text-align: right;
    font: normal normal 900 36px/53px Heebo;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

#contact form p {
    text-align: right;
    font: normal normal normal 20px/29px Heebo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 47px;
}

footer .container #contact form .btn {
    display: block;
    width: 10.375rem;
    height: 3.125rem;
    margin-top: 35px;
    background: #1AE0EC;
    border-radius: 25px;
    font: normal normal bold 22px/30px Heebo;
    color: rgb(44, 44, 44);
    letter-spacing: 0.3px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    opacity: 1;
}

footer .container #contact form .btn:hover {
    display: block;
    width: 10.375rem;
    height: 3.125rem;
    background: #251473;
    border-radius: 25px;
    font: normal normal bold 22px/30px Heebo;
    color: #f4143c;
    letter-spacing: 0.3px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    opacity: 1;
}

/*Footer Icons MEDIA*/

footer .container .media {
    height: 200px;
    width: 100vw;
    margin-right: -310px;
    background: #0cf7ff;
    opacity: 1;
}

footer .container .media .icons-box {

    width: 60vw;
    height: 200px;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #0cf7ff;
    margin-right: 500px;
}

footer .container .media .icons-box .box-item img {
    margin-bottom: 2vh;
    margin-right: 4.5vw;
}

footer .container .media .icons-box .box-item h5 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0.5vw;
    font: normal normal normal 14px/16px Heebo;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
}

footer .container .copyRight {
    color: #1AE0EC;
    font: normal normal 300 20px/29px Heebo;
    display: flex;
    width: 100vw;
    line-height: 2.2;
    margin: 0 auto;
    background-color: #000000;
}

footer .container .copyRight .right {
    float: right;
    width: 50%;
    text-align: right;
    margin-right: -315px;
    background-color: #000000;
}

footer .container .copyRight .left {
    float: left;
    width: -50%;
    text-align: left;
    margin-right: 900px;
    background-color: #000000;
}

@media (max-width: 768px) {
    footer .container #contact form {
        width: 30vw;
        margin-top: 231px;
        background: #3A3A3A;
        margin-right: -45vw;
    }

    footer .container #contact {
        width: 100%;
        height: 76vh;
        background: #3A3A3A 0% 0% no-repeat padding-box;
        color: wheat;
        display: flex;
    }

    #contact form h1 {
        width: 90vw;
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal 900 36px/53px Heebo;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    #contact form p {
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal normal 16px/29px Heebo;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 47px;
        width: 90vw;
    }

    footer .container #contact form .form-type input {
        width: 350px;
        height: 50px;
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal bold 18px/24px Heebo;
    }

    footer .container #contact form .form-type input:hover {
        width: 350px;
        height: 50px;
        text-align: right;
        font: normal normal bold 18px/24px Heebo;
        box-shadow: 0 16px #f4143c;
        /* f4143c / 251473 */
    }

    footer .container #contact form .form-type input[id=massage] {
        width: 350px;
        height: 100px;
        background: #ffffff
    }

    footer .container #contact form .form-type label {
        text-align: right;
        margin-right: 5.5vw;
        font: normal normal bold 16px/24px Heebo;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    footer .container #contact form .btn {
        display: block;
        margin-top: 45px;
        margin-right: 5.5vw;
        width: 10.375rem;
        height: 3.125rem;
        background: #1AE0EC;
        border-radius: 25px;
        font: normal normal bold 22px/30px Heebo;
        color: rgb(44, 44, 44);
        letter-spacing: 0.3px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        line-height: 1.9;
        opacity: 1;
    }

    footer .container #contact .smbox {
        display: block;
        width: 200px;
        height: 100px;
        margin-right: 150px;
    }
}

@media screen and (max-width:576px) {
    footer .container #contact form {
        width: 30vw;
        margin-top: 231px;
        background: #3A3A3A;
        margin-right: -65vw;
    }

    footer .container #contact {
        width: 100%;
        height: 96vh;
        background: #3A3A3A 0% 0% no-repeat padding-box;
        color: wheat;
        display: flex;
    }

    #contact form h1 {
        width: 90vw;
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal 900 36px/53px Heebo;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    #contact form p {
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal normal 16px/29px Heebo;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 47px;
        width: 90vw;
    }

    footer .container #contact form .form-type input {
        width: 350px;
        height: 50px;
        margin-right: 5.5vw;
        text-align: right;
        font: normal normal bold 18px/24px Heebo;
    }

    footer .container #contact form .form-type input:hover {
        width: 350px;
        height: 50px;
        text-align: right;
        font: normal normal bold 18px/24px Heebo;
        box-shadow: 0 16px #f4143c;
        /* f4143c / 251473 */
    }

    footer .container #contact form .form-type input[id=massage] {
        width: 350px;
        height: 100px;
        background: #ffffff
    }

    footer .container #contact form .form-type label {
        text-align: right;
        margin-right: 5.5vw;
        font: normal normal bold 16px/24px Heebo;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    footer .container #contact form .btn {
        display: block;
        margin-right: 5.5vw;
        width: 10.375rem;
        height: 3.125rem;
        background: #1AE0EC;
        border-radius: 25px;
        font: normal normal bold 22px/30px Heebo;
        color: rgb(44, 44, 44);
        letter-spacing: 0.3px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        line-height: 1.9;
        opacity: 1;
    }

    footer .container #contact .smbox {
        display: block;
        width: 200px;
        height: 100px;
        margin-right: -20px;
    }

    footer .container .media .icons-box {

        width: -20vw;
        height: 200px;
        display: inline-grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #2f3131;
        margin-right: 500px;
    }

    footer .container .media .icons-box .box-item img {
        margin-bottom: 2vh;
        margin-right: 85.5vw;
    }

    footer .container .media .icons-box .box-item h5 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 0.5vw;
        font: normal normal normal 14px/16px Heebo;
        letter-spacing: 0px;
        color: #050505;
        opacity: 1;
    }
}